.products {
  margin-left: 30px;
  margin-right: 20px;
  height: 83vh;
}

.header {
  display: flex;
  margin-bottom: 10px;
}

mat-icon {
  padding-top: 4px;
  margin-left: 125vh;
  transform: scale(1.5);
  color: #89abe3ff;
  cursor: pointer;
}

h1 {
  font-weight: 700;
}
