<section class="vh-100">
  <div class="container-fluid">
    <form [formGroup]="loginForm">
      <h1 class="d-flex justify-content-center pb-4" style="font-size: 2.1rem">
        <b>Bienvenue</b>
      </h1>

      <div class="form-outline mb-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ex. pat@example.com"
            formControlName="email"
          />

          <mat-error *ngIf="this.loginForm.controls['email'].hasError('email')">
            Entrer un email valide
          </mat-error>
          <mat-error
            *ngIf="this.loginForm.controls['email'].hasError('required')"
          >
            Email est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-outline mb-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input
            type="password"
            matInput
            placeholder="0-9a-zA-z/*_+-"
            formControlName="password"
          />
          <mat-error
            *ngIf="this.loginForm.controls['password'].hasError('pattern')"
          >
            Entrer un mot de passe valide
          </mat-error>
          <mat-error
            *ngIf="this.loginForm.controls['password'].hasError('required')"
          >
            Mot de passe est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          S'identifier
        </button>
      </div>
      <br />
      <div class="form-outline mb-4">
        <h4 class="small"><a href="#!">Mot de passe oublié ?</a></h4>
        <h4 class="small mb-5 pb-lg-2">
          <a href="activation">Email de confirmation non reçu ?</a>
        </h4>
      </div>
    </form>
  </div>
</section>
